<md-input-container class="md-block" >
    <input name="amount"
           class="amount"
           ng-model="zipcodeCtrl.mockData.zipcode"
           ng-change="zipcodeCtrl.changeZipcode(zipcodeCtrl.mockData.zipcode)"
           placeholder="$50,000"
           required >
</md-input-container>
<table class="wd100">
       <tr ng-repeat="(key, rate) in zipcodeCtrl.keys">
              <th>{{ rate }}</th>
       </tr>
       <!--<tr>-->
       <!--<th>Model year</th>-->
       <!--<th>1-4 years</th>-->
       <!--<th>5 years</th>-->
       <!--<th>6 years</th>-->
       <!--</tr>-->
       <!--<tr>-->
       <!--<td>2016-18</td>-->
       <!--<td>3.19%</td>-->
       <!--<td>3.19%</td>-->
       <!--<td>3.44%</td>-->
       <!--</tr>-->
       <!--<tr>-->
       <!--<td>2015</td>-->
       <!--<td>3.19%</td>-->
       <!--<td>3.19%</td>-->
       <!--<td>3.44%</td>-->
       <!--</tr>-->
</table>