<div layout="row hide" style="display: none;">
    <div  class="footer">
        <p>GET IN TOUCH</p>
        <ul>
            <li>Customer Service</li>
            <li>@PNCBank_Help</li>
            <li>[+]Feeback</li>
        </ul>
        <p>BANKIN ON THE GO</p>
        <p>We have tools to help you bank when and where you want.</p>
        <p>Mobile Apps Directory</p>
        <p>STAY CONNECTED</p>
        <p>Social Mdia Driectory</p>
        <p>JOIN US</p>
        <p>Be part of our inclusive culture that strives for excellence and rewards talent.</p>
        <p>Vist PNC Careers</p>
        <ul>
            <li>Security & Privacy</li>
            <li>Accessible Banking</li>
            <li>Terms & Conditions </li>
        </ul>
    </div>
</div>
